body {
    margin: 0;
}

main {
    padding-top: 86px;
}

/*Navegador*/

html {
    scroll-behavior: smooth;
  }
  
nav.bg-verde {
    background-color: darkolivegreen;
}

a.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 700;
}